.game-style {
    background-color: black;
    width: 100%;
    height: 40%;
    margin-top: 10px;
    border: 2px solid black;
     
    
}

.game-options{
    max-width: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem 10rem 5rem 10rem;
    gap: 5.5rem;
    background-color: whitesmoke;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.game-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.players-score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 1rem 3rem;
}

.bot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 1rem 3rem;
}


