.image {
    text-align: center;
    padding: 2rem 0 2rem 0;
 }

.image-gif {
    align-content: center;
    background-color: rgb(252, 245, 245);
    width: 30%;
    height: 46%;
    margin-top: 10px;
    border: 2px solid black;
    margin: auto;
    display:block;
}

.image-container {
    height: auto;
    width: auto;
    transform: scale(0.9, 0.9);
}

.image-circle {
    border-radius: 10%;
}