.game-option{
    padding: 10px;
    cursor: pointer;
}

.game-option-active{
    box-shadow: rgb(255, 0, 0) 0px 0px 0px 2px inset;
}

.game-option-inactive{
    box-shadow: rgba(235, 217, 217, 0.2) 0px 0px 0px 1px inset, rgba(240, 224, 224, 0.9) 0px 0px 0px 1px;
}